---
layout: default
title: Blog
---
<h2>Blog</h2>

{% for post in site.posts %}
  <div class="blog-post">
    <h3 class="blog-post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <div class="blog-post-meta">
      {{ post.date | date: "%B %d, %Y" }}
      {% if post.categories.size > 0 %}
        • 
        {% for category in post.categories %}
          <span style="color: #666;">{{ category }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="blog-post-excerpt">
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 50 }}
      {% endif %}
    </div>
    <a href="{{ post.url | prepend: site.baseurl }}" style="color: #4a90e2; text-decoration: none; font-weight: 600;">Read more →</a>
  </div>
{% endfor %}
