---
layout: default
title: Publications
---
<h2>Publications</h2>
<p style="color: #666; margin-bottom: 2rem;">* denotes equal contributions. See my <a href="https://scholar.google.com/citations?user=YI5N4HQAAAAJ&hl=en" target="_blank">Google Scholar</a> for a complete list.</p>

{% assign all_papers = site.data.publications.papers %}
{% for paper in all_papers %}
  <div class="paper-inline">
    {% if paper.paper_pdf %}
      <strong><a href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">{{ paper.title }}</a></strong>
    {% else %}
      <strong>{{ paper.title }}</strong>
    {% endif %}<br>
    {{ paper.authors }}<br>
    <em>{{ paper.venue }}</em> ({{ paper.year }}){% if paper.award or paper.code or paper.blog or paper.policy_brief or paper.website or paper.news %}<br>{% endif %}
    {% if paper.award %}Award: {{ paper.award }}<br>{% endif %}
    {% if paper.code or paper.blog or paper.policy_brief or paper.website %}
      Links:
      {% if paper.code %}<a href="{{ paper.code }}" target="_blank">Code</a>{% if paper.blog or paper.policy_brief or paper.website %}, {% endif %}{% endif %}
      {% if paper.blog %}<a href="{{ paper.blog }}" target="_blank">Blog</a>{% if paper.policy_brief or paper.website %}, {% endif %}{% endif %}
      {% if paper.policy_brief %}<a href="{{ paper.policy_brief }}" target="_blank">Policy Brief</a>{% if paper.website %}, {% endif %}{% endif %}
      {% if paper.website %}<a href="{{ paper.website }}" target="_blank">Website</a>{% endif %}
    {% endif %}
    {% if paper.news %}{% if paper.code or paper.blog or paper.policy_brief or paper.website %}<br>{% endif %}{{ paper.news }}{% endif %}
  </div>
{% endfor %}
