---
---
<!-- _layouts/bib.html -->

 <!-- Title -->
 {% if entry.type == "inbook" -%}
    {% if entry.pdf contains '://' -%}
        <a href="{{ entry.pdf }}"><b>{{entry.chapter}}</b></a>
    {%- else -%}
        <b>{{entry.chapter}}</b>
    {%- endif %}
{%- else -%}
    {%- if entry.pdf %}
        {% if entry.pdf contains '://' -%}
            <a href="{{ entry.pdf }}"><b>{{entry.title}}</b></a>
        {%- else -%}
            <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}"><b>{{entry.title}}</b></a>
        {%- endif %}
    {%- elsif entry.arxiv %}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}" ><b>{{entry.title}}</b></a>
    {%- elsif entry.ssrn %}
        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id={{ entry.ssrn }}" ><b>{{entry.title}}</b></a>
    {%- else -%}
        <b>{{entry.title}}</b>
    {%- endif -%}
{%- endif -%}
    <br>

{% assign author_array_size = entry.author_array | size %}

{% assign author_array_limit = author_array_size %}

{%- for author in entry.author_array limit: author_array_limit -%}
    {%- assign author_is_self = false -%}
    {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
    {%- if site.scholar.last_name contains author_last_name -%}
    {%- if site.scholar.first_name contains author.first -%}
        {%- assign author_is_self = true -%}
    {%- endif -%}
    {%- endif -%}

    {%- if forloop.length > 1 -%}
    {%- if forloop.first == false -%},&nbsp;{%- endif -%}
    {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
    {%- endif -%}
    {%- if author_is_self -%}
    <u>{{author.first}} {{author.last}}</u>
    {%- else -%}
        {{author.first}} {{author.last}}
    {%- endif -%}
{%- endfor -%}
{%- assign more_authors = author_array_size | minus: author_array_limit -%}
<br>

<!-- Journal/Book title and date -->
{% assign proceedings = "inproceedings,incollection" | split: ','%}
{% assign thesis = "thesis,mastersthesis,phdthesis" | split: ','%}
{% if entry.type == "article" -%}
  {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
{%- elsif entry.type == "inbook" -%}
  {%- capture entrytype -%}In <em>{{entry.title}}</em> {%- endcapture -%}
{%- elsif proceedings contains entry.type -%}
  {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
{%- elsif thesis contains entry.type -%}
  {%- capture entrytype -%}<em>{{entry.school}}</em> {%- endcapture -%}
{%- else -%}
  {%- capture entrytype -%}{%- endcapture -%}
{%- endif -%}
{%- if entry.month -%}
  {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
{%- endif -%}
{%- if entry.type == "inbook" -%}
  {%- if entry.year -%}
    {%- capture entryyear -%}{{entry.publisher}}, {{entry.year}} {%- endcapture -%}
  {%- endif -%}
{%- else -%}
  {%- if entry.year -%}
    {%- capture entryyear -%}{{entry.year}}{%- endcapture -%}
  {%- endif -%}
{%- endif -%}
{% assign entrytype_text = entrytype | strip_html | strip %}
{%- capture periodical -%}{{ entrytype }}{%- if entrytype_text != "" and entryyear != "" -%} {%- endif -%}{{ entrymonth }} ({{entryyear}}){%- endcapture -%}
  {{ periodical | strip }}
  {{ entry.note | strip }}
{% if entry.award %}
  <b>{{entry.award}}</b>
{% endif %}

<!-- Other Links -->
<br>
{%- if entry.blog %}
    <a href="{{ entry.blog }}">[Blog] </a>
{%- endif %}
{%- if entry.code %}
    <a href="{{ entry.code }}">[Code] </a>
{%- endif %}
{%- if entry.website %}
    <a href="{{ entry.website }}">[Website] </a>
{%- endif %}
{%- if entry.brief %}
    <a href="{{ entry.brief }}">[Policy Brief] </a>
{%- endif %}
