<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Homepage of Neel Guha">
  <meta name="author" content="Neel Guha">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/stylesheet.css" | prepend: site.baseurl }}>

  <!-- Font-Awesome -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.9.4/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- JQuery -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>
</head>
<body>
  <div class="wrapper">
    <aside class="sidebar">
      <img src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}' alt="Profile" class="profile-img">
      <h1>{{ site.data.main_info.name }}</h1>
      
      <nav>
        <a class="{% if page.url == '/index.html' %}active{% endif %}" href={{ "/index.html" | prepend: site.baseurl }}>Bio</a>
        <a class="{% if page.url == '/publications.html' %}active{% endif %}" href={{ "/publications.html" | prepend: site.baseurl }}>Publications</a>
        <a class="{% if page.url == '/blog.html' or page.layout == 'post' %}active{% endif %}" href={{ "/blog.html" | prepend: site.baseurl }}>Blog</a>
        <a class="{% if page.url == '/code.html' %}active{% endif %}" href={{ "/code.html" | prepend: site.baseurl }}>Code and data</a>
        <a class="{% if page.url == '/contact.html' %}active{% endif %}" href={{ "/contact.html" | prepend: site.baseurl }}>Contact</a>
        <a class="{% if page.url == '/assets/pdf/Neel_Guha_CV.pdf' %}active{% endif %}" href={{ "/assets/pdf/Neel_Guha_CV.pdf" | prepend: site.baseurl }}>CV</a>
      </nav>
    </aside>
    
    <main class="main-content">
      {{ content }}
    </main>
  </div>
</body>
</html>
